html {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    color: beige;
    user-select: none;
  }

  /*Style*/
.left h3 {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

.sword-image {
  width: 160px;
  border: 4px beige solid;
  border-radius: 5px;
  background-color: #424242;
}

.sword-image:hover {
  opacity: 0.9;
  cursor: pointer;
}

.sword-image:active {
  opacity: 0.8;
  transform: scale(1.02);
}

  /*Setup*/
body {
  display: grid;
  place-items: center;
  height: 65vh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  gap: 200px;
}

.upgrade {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 60px;
  border: 4px beige solid;
  border-radius: 5px;
  padding: 10px 20px;
}

.cost-info {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mid-section h4 {
  margin: 0;
}

.mid-section p {
  margin: 0;
}

.upgrade-img {
  width: 55px;
}

.swordUpgrade-icon {
  width: 20px;
  height: 20px;
}